<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Operacional_AAMEntities" connectionString="metadata=res://*/Operacional_AAMEntities.csdl|res://*/Operacional_AAMEntities.ssdl|res://*/Operacional_AAMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.69.116.20;initial catalog=Operacional_AAM;persist security info=True;user id=UPTR01;password=1_TOLEDO_1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DCOMEntities" connectionString="metadata=res://*/DCOMEntities.csdl|res://*/DCOMEntities.ssdl|res://*/DCOMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.69.118.17;initial catalog=DCOM;user id=Test;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DCOMEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.69.118.17;initial catalog=DCOM;user id=Test;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DCOMEntities4" connectionString="metadata=res://*/DCOMAvisos.csdl|res://*/DCOMAvisos.ssdl|res://*/DCOMAvisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.69.118.17;initial catalog=DCOM;user id=Test;password=;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>